{% extends 'base.html' %}
{% block content %}

<h1>Welcome to the Dashboard</h1>
<ul>
    The Data Analysis Dashboard is a web application that provides users with various data analysis tools and visualizations. 
    It allows users to upload and analyze data from Excel files, focusing on specific tables and extracting meaningful insights. 
    The dashboard offers several analysis modules, including trend analysis, seasonal analysis, summary statistics, data visualization, and predictive analysis.
</ul>
{% endblock  %}
